html {
    height: 100%;
    width: 100%;
    font-family: "Inter", Arial, sans-serif;    
}

.header {
    font-size: xx-large
    font-weight: bold;
    text-align: left;
    padding: 20px
}

.viz {
    width: 50%;
    height: 300px;
    padding: 16px;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    position:relative;
  }
