html {
    height: 100%;
    width: 100%;
    font-family: "Inter", Arial, sans-serif;    
}

.header {
    font-size: xx-large
    font-weight: bold;
    text-align: left;
    padding: 20px
}

.viz {
    width: 40%;
    height: 300px;
    border: 1px solid #bbb;
  }
